<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>测试用例报告</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

</head>
<body>
<center><h1>接口测试报告</h1></center>
<br>

<div style="text-align:right">
    <span style="float:left">&nbsp;&nbsp;&nbsp;测试时间：{{generateTime}}</span>
<button class="btn btn-primary" type="button">
  总测试用例 <span class="badge">{{total}}</span>
</button>
<button class="btn btn-success" type="button">
  成功 <span class="badge">{{success}}</span>
</button>
<button class="btn btn-danger" type="button">
  失败 <span class="badge">{{fail}}</span>
</button>
</div>
<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for testcase in testcases %}
    <div class="panel {% ifequal testcase.result 'true' %}panel-success{% else %}panel-danger{% endifequal %}">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{ testcase.ID }}" aria-expanded="true"
                   aria-controls="collapseOne">
                    {{ testcase.ID }}
                </a>
            </h4>
        </div>
        <div id="{{ testcase.ID }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <table  class="table table-striped  table-condensed table-bordered table-hover">
                    <tr>
                        <td class="text-center">用例名称</td><td>{{ testcase.title }}</td>
                    </tr>
                    <tr>
                        <td class="text-center">请求方式</td><td>{{ testcase.method }}</td>
                    </tr>
                    <tr>
                        <td class="text-center">描述</td><td>{{testcase.desc}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">请求地址</td><td>{{testcase.url}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">参数</td><td>{{testcase.data}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">期望code</td><td>{{testcase.expec_code}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">返回code</td><td>{{testcase.real_code}}</td>
                    </tr>
                    <tr class="{% ifequal testcase.result 'true' %}success{% else %}danger{% endifequal %}">
                        <td class="text-center">结果</td><td>{{testcase.result}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


</body>
</html>